For LCQT to work you have to turn off your antivirus. You have to turn it off because 
it injects scripts into the real Lunar client and Antivirus would detect it as a virus which its not.
Overall it works and its nto a virus.
---
[You have to have the real Lunar client for this to work!!]
---
This privacy policy will explain what information we collect online, and the choices we offer to you.

This privacy policy (“Policy”) describes the data practices of Moonsworth, LLC and its subsidiaries (collectively, “we”, or “Company”), covering its services under its control, including this website, any products, mobile applications, or PC applications (collectively “Services”). By using the Services, you are consenting to this Policy and the processing of your data in the manner provided in this Policy. If you do not agree with these terms, please do not use the Services.
This Privacy Policy was last updated on August 5th, 2022 and it still works till now.
-
This is the only legit 1.3.2 LCQT that works right now as of this moment so dont dowloand any 1.3.2 as it will probably be a virus.
hope you have a great time using LCQT :D
from the bandana mc team ❣️.

